   <div class="dxi-chart pie-container">
   	 
     <div class="data-wrapper" ng-mouseleave="mouseLeaveCallBack($event)"> 
   	  <div class="data-detail">
         <strong><nobr>{{currentTip.chartInfo.originEnd - currentTip.chartInfo.originStart}}% {{currentTip.label}}</nobr></strong><br>
         <span><nobr>{{currentTip.value}} seconds</nobr></span>
      </div>
   	  <span class="glyphicon glyphicon-zoom-in{{currentTip.chartInfo.zoomIn ? ' glyphicon-zoom-out':''}}" ng-click="toogleZoomIn()"></span>
     </div>

     <svg id="svg_donut" ng-attr-width="{{config.ROutO*2+2}}" ng-attr-height="{{config.ROutO*2+2}}" ng-mouseleave="mouseLeaveCallBack($event)">
         <g class="out-donut">
            <path ng-repeat="d in data.basic" ng-attr-d="{{arc(d,true)}}" ng-attr-fill="{{d.chartInfo.color}}" stroke="white" stroke-width="{{d.chartInfo.border}}" ng-attr-transform="translate({{config.ROutO}},{{config.ROutO}})"
            ng-mouseenter="locateZoomInIcon(d,config.ROutO,config.ROutI,true)"
            >
            </path>
         </g>

         <g class="inner-donut">
            <path ng-repeat="d in data.sub" ng-attr-d="{{arc(d,false)}}" 
             ng-attr-fill="{{d.chartInfo.color}}" stroke="white" stroke-width="{{d.chartInfo.border}}" ng-attr-transform="translate({{config.ROutO}},{{config.ROutO}})"
             ng-mouseenter="locateZoomInIcon(d,config.RInO,config.RInI,true)"
             ></path>
         </g>
     </svg>
   </div>