<div class="dxi-chart">

<div class="data-wrapper" ng-mouseleave="mouseLeaveCallBack($event)"> 
      <div class="data-detail">
         <strong><nobr> {{curretAgent.label}} </nobr></strong><br>
         <div>
          <nobr> 
            <label>{{curretAgent.key}} : {{curretAgent.value}}</label>

          </nobr>
         </div>
      </div>
</div>

<svg ng-attr-width="{{svgWidth}}" ng-attr-height="{{svgHeight}}">
  
   <g class="axis y grid"></g>
   <g class="axis x grid"></g>
   <g class="bar-group">
   	  <g ng-repeat="agents in barData">
           <g ng-repeat="agent in agents">
               <rect ng-repeat="(key,bar) in agent.values" 
                ng-attr-x="{{bar.x}}"
                ng-attr-y="{{bar.y}}"
                ng-attr-fill="{{bar.color}}"
                ng-attr-width="{{bar.width}}"
                ng-attr-height="{{bar.height}}"
                ng-mouseenter = "mouseOverCallBack(agent,bar,key,$event)"
                ng-mouseleave = "mouseLeaveCallBack()";
               >
               </rect>
           </g>
   	  </g>
   </g>
   
   <g class="path-group">

   </g>

   <g class="dots-group">
      
   </g>



   <g class="context">
      <g class="path-group"></g>
      <g class="outside-brush"></g>
      <g class="outside-brush-border"></g>
      <g class="x brush"> </g>
      <g class="border-lines"> </g>
      <g class="split-lines"></g>
      <g class="x axis"></g>
   </g>

</svg>


</div>