<svg class="dxi-chart" ng-attr-width="{{width}}" ng-attr-height="{{height}}">
   
   <g ng-attr-transform="translate({{width/2}},{{height/2}})">
      <path ng-attr-d="{{arc(d)}}" ng-repeat="d in pieData track by $index" ng-attr-fill="{{getColor($index)}}" ng-mouseenter="mouseEnterCallBack(d,$event,$index)" ng-mouseout="mouseLeaveCallBack($event)">
      </path>
   </g>


   <g id="call-detail" opacity="1" class="hideChartElement">
   	<rect x="0" y="0" width="100" height="69" style="stroke:#d8dadc;stroke-width:1;fill:white"></rect>
   	<circle cx="15" cy="34" r="4" fill="{{dataDetail.color}}"></circle>
   	
   	<text x="29" y="26" style="color:#666666;font-size:14px">
       {{dataDetail.label}}
   	</text>

   	<text x="29" y="52" style="color:#666666;font-size:14px">
   		{{dataDetail.value}} Calls
   	</text>
    </g>

 </svg>

