/**
* all css related to chart will come here
**/
.dxi-chart {
  position: relative;
}
.dxi-chart svg {
  position: relative;
}
.dxi-chart .hideChartElement {
  display: none !important;
}
.dxi-chart .dxi-chart-animate.ng-move,
.dxi-chart .dxi-chart-animate.ng-enter,
.dxi-chart .dxi-chart-animate.ng-leave {
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
}
.dxi-chart .dxi-chart-animate.ng-leave.ng-leave-active,
.dxi-chart .dxi-chart-animate.ng-move,
.dxi-chart .dxi-chart-animate.ng-enter {
  opacity: 0;
  transform: translateX(-100px);
}
.dxi-chart .dxi-chart-animate.ng-leave,
.dxi-chart .dxi-chart-animate.ng-move.ng-move-active,
.dxi-chart .dxi-chart-animate.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateX(0px);
}
.dxi-chart.pie-container {
  position: relative;
  display: inline-block;
}
.dxi-chart.pie-container .glyphicon-zoom-in {
  font-size: 19px;
  z-index: 100;
  color: white;
}
.dxi-chart .data-wrapper {
  position: absolute;
  display: none;
  z-index: 1000;
}
.dxi-chart .data-wrapper.show {
  display: block;
}
.dxi-chart .data-wrapper .data-detail {
  border: solid 1px;
  padding: 8px;
  margin-left: 6px;
  margin-bottom: 3px;
  background-color: white;
  /*width: 110px;*/
}
.dxi-chart .domain {
  display: none;
  fill: transparent;
}
.dxi-chart .axis text {
  font-size: 13px;
}
.dxi-chart .axis.grid line {
  stroke: #d8dadc;
  stroke-width: 1;
  opacity: 0.8;
}
.dxi-chart .context .axis text {
  font-size: 12px;
}
.dxi-chart .chart-control-panel {
  height: 66px;
  color: #666666;
  position: relative;
  margin-bottom: 30px;
}
.dxi-chart .chart-control-panel .operation-wrapper {
  position: absolute;
  left: 200px;
  top: 29px;
  font-size: 18px;
  cursor: pointer;
}
.dxi-chart .chart-control-panel .operation-wrapper span {
  margin-right: 5px;
  display: none;
}
.dxi-chart .chart-control-panel .operation-wrapper.zoom-in .glyphicon-zoom-in {
  display: block;
}
.dxi-chart .chart-control-panel .operation-wrapper.zoom-out .glyphicon-zoom-out {
  display: block;
}
.dxi-chart .chart-control-panel .notes label {
  padding-right: 10px;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
}
.dxi-chart .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #2392df;
}
.dxi-chart .dot.active {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}
.dxi-chart .dot.orange {
  background-color: #ee9a14;
}
.dxi-chart .dot.green {
  background-color: #27ae60;
}
.dxi-chart #chartDetail {
  border: solid 1px #d5d5d5;
  padding: 15px 17px;
  display: inline-block;
  background-color: white;
  line-height: 1.8;
  position: relative;
}
.dxi-chart #chartDetail .list-item {
  font-size: 13px;
}
.dxi-chart #chartDetail .list-item .dot {
  margin-right: 5px;
}
