/**
* all css related to chart will come here
**/

.dxi-chart{
    
    .transform(@values){
      -webkit-transform:@values;
      -moz-transform:@values;
      transform:@values;
    }


    @borderColor:#d5d5d5;
    position: relative;
    
    svg{
      position: relative;
    }

    .hideChartElement{
      display: none !important;
    }
    
    .dxi-chart-animate{
        &.ng-move,
        &.ng-enter,
        &.ng-leave {
          -webkit-transition:all linear 1s;
          transition:all linear 1s;
        }

        &.ng-leave.ng-leave-active,
        &.ng-move,
        &.ng-enter {
          opacity:0;
          transform:translateX(-100px);
        }

        &.ng-leave,
        &.ng-move.ng-move-active,
        &.ng-enter.ng-enter-active {
          opacity:1;
          transform:translateX(0px);
        }
    }

    &.pie-container{
      position: relative;
      display: inline-block;
      .glyphicon-zoom-in{
        font-size: 19px;
        z-index: 100;
        color: white;
       }
     }
    
    .data-wrapper{
      position: absolute;
      display: none;
      z-index: 1000;
      &.show{
         display: block;
      }
    .data-detail{
      border:solid 1px;
      padding: 8px;
      margin-left: 6px;
      margin-bottom: 3px;
      background-color: white;
      /*width: 110px;*/
    }
   }

    .domain {
      display: none;
      fill:transparent;
    }
    
    .axis{
        text{
          font-size: 13px;
        }
        &.grid{
          line{
            stroke:#d8dadc;
            stroke-width:1;
            opacity: 0.8;
          }
        }
    }
    .context{
      .axis{
        text{
          font-size: 12px;
        }
      }
    }
    .chart-control-panel{
       height: 66px;
       color:#666666;
       position: relative;
       margin-bottom: 30px;

       .operation-wrapper{
           position: absolute;
           left:200px;
           top:29px;
           font-size: 18px;
           cursor: pointer;
           span{
            margin-right: 5px;
            display: none;
           }

           &.zoom-in{
             .glyphicon-zoom-in{
              display: block;
             }
           }
           &.zoom-out{
             .glyphicon-zoom-out{
              display: block;
             }
           }
       }
       
       .notes{ 
        label{
          padding-right: 10px;
          font-weight: normal;
          font-size: 12px;
          cursor: pointer;
        }

      } 
    }

     .dot{
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: #2392df;
        &.active{
           .transform(scale(1.5));
        }
        &.orange{
           background-color: #ee9a14;
        }
        &.green{
          background-color: #27ae60;
        }
       }


      #chartDetail{
        border: solid 1px @borderColor;
        padding: 15px 17px;
        display: inline-block;
        background-color: white;
        line-height: 1.8;
        position: relative;
        
        .list-item{
          .dot {
            margin-right: 5px;
          }
          font-size: 13px;
        }
      }
}




